canvas{
    width:588px;
    height:276px;
}

body{
    background-color:#2D55BE;
    overflow-x:hidden;
    overflow-y:hidden;
    display: flex;
    align-items: center;
    justify-content:center;
}
