canvas{
    width:588px;
    height:276px;
}

html{
    background-color:#2D55BE;
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
    overflow-x:hidden;
    overflow-y:hidden;
    vertical-align:middle;
}
